#diagramPane {
    
}

#loginPane {
    
}


#dbBtn {
    
}
#loginPassTf {
    -fx-background-color: #f4f4f4;
    -fx-text-inner-color: black;
}

#loginUserNameTf {
    -fx-background-color: #f4f4f4;
    -fx-text-inner-color: black;
}

#selectDataBtn {
    
}
/*
.chart-bar {
    -fx-bar-fill: red;
}
*/